// Font Family
$body_font : 'Roboto', sans-serif;
$heading_font : 'Roboto', sans-serif;

//Font Weight
$font_weight_100 : 100;
$font_weight_200 : 200;
$font_weight_300 : 300;
$font_weight_400 : 400;
$font_weight_500 : 500;
$font_weight_600 : 600;
$font_weight_700 : 700;

// Margin & Padding 0
$margin_0 : 0;
$padding_0 : 0;

//Heading Font Size
$font_size_h1 : 36px;
$font_size_h2 : 30px;
$font_size_h3 : 24px;
$font_size_h4 : 20px;
$font_size_h5 : 18px;
$font_size_h6 : 16px;

//Paragraph Font Size
$font_size_p : 14px;

//Width & Height
$width_100 : 100%;
$height_100 : 100%;

//Float
$float_left : left;
$float_right : right;

//Text Align
$text_align_left : left;
$text_align_center : center;
$text_align_right : right;

$text_decoration : none;
$outline_none : none;

//Theme Color
$theme_color_1 : #2196F3;
$color_white : #fff;
$color_black : #222;
$color_black_light : #222;
$color_gray : #ddd;
$background_white : #fff;
$background_gray : #ddd;

//Opacity
$opacity_7 : 0.7;